.TodoForm-Container{
    text-align: center;
}

.TodoForm{
    display: inline-flex;
    justify-content: space-evenly;
    width: 570px;
    margin-bottom: 15px;
}

.Form-Group{

}

#Name{
    width: 150px;
}

#Task{
    width: 300px;
}

.Submit-New{

}